@import "../../css/mixins.scss";

.content {
  display: flex;
  text-align: left;
  box-sizing: border-box;
  font-size: 0.85rem;
  .body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    flex-grow: 1;
    .title {
      font-size: 0.9rem;
      line-height: 1.2;
      @include responsive("md") {
        font-size: 1.25rem;
        line-height: 1.4;
      }
    }
    .release-date {
      font-size: 0.75rem;
      margin: 0.5rem 0;
    }
    .tagline {
      margin: 0.5rem 0;
    }
    .overview {
      min-height: 4em;
      max-height: 10rem;
      white-space: pre-wrap;
      margin: 0.5rem 0;
      overflow-y: auto;
    }
  }
  .image-container {
    margin-right: 1rem;
    display: block;
    width: 50%;
    min-width: 100px;
    max-width: 150px;
    flex-grow: 0;
    img {
      display: block;
      width: 100%;
    }
  }
}
