.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  .header {
    background-color: #6f0000;
    .title {
      margin: 0.5rem 0;
      text-align: center;
      color: #ffffff;
    }
  }
}
